.footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px 0;
  
  /* Positioning fixed for a sticky footer */
  position: relative; 
  bottom: 0;
  width: 100%;
  left: 0; /* Ensure it stretches across the full width */
  z-index: 1000; /* Ensure it stays above other content */
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
